<%- include('../template/_header.ejs', { page_title : _page_title }) %>

<div class="shadow-xl card w-96 bg-base-100">
    <figure><img src="../../static/img/shoes.jpg" alt="PathImmagine" /></figure>
    <div class="card-body">
      <h2 class="card-title">
        Shoes!
        <div class="badge badge-secondary">NEW</div>
      </h2>
      <p>If a dog chews shoes whose shoes does he choose?</p>
      <div class="justify-end card-actions">
        <div class="badge badge-outline">Fashion</div> 
        <div class="badge badge-outline">Products</div>
      </div>
    </div>
  </div>

<%- include('../template/_footer_1.ejs') %>
<%- include('../template/_footer_2.ejs') %>