<%- include('../template/_header.ejs', { page_title : _page_title }) %>

 <!-- TODO: moltiplicali (come gesù) -->
  <div class="m-5 border-transparent shadow-xl card w-96 bg-base-100 ">
    <figure><img class="h-full rounded-t-xl" src="img/newbanner.jpg" alt="PathImmagine" /></figure> <!-- remember to redimension the image before putting it there via footer_2 -->
    <div class="card-body ">
      <h2 class="card-title">
        A very cool rpg game!
        <div class="badge badge-secondary">NEW</div> <!-- consider adding more like idk languages and type of project such as startup etc -->
      </h2>
      <p>The idea is of using basically just ai for it so I don't code anything! Join me so I can do even less!</p>
      <div class="justify-end card-actions">
        <div class="badge badge-outline">Game dev</div>
        <div class="badge badge-outline">AI</div>
      </div>
    </div>
  </div>

  <%- include('../template/_footer_1.ejs') %>
    <%- include('../template/_footer_2.ejs') %>